/ormconfig.ts
**/.DS_Store
/node_modules
/dist
/logs
.env.production
/.env.development
/.env
/.idea/.idea.DatingApp-MainApi.dir/.idea/encodings.xml
/.idea/.idea.DatingApp-MainApi.dir/.idea/indexLayout.xml
/.idea/.idea.DatingApp-MainApi.dir/.idea/vcs.xml

