/ormconfig.ts
**/.DS_Store
/node_modules
/dist
/logs
.env.production
/.env.development
/.env
/.idea/.idea.DatingApp-MainApi.dir/.idea/encodings.xml
/.idea/.idea.DatingApp-MainApi.dir/.idea/indexLayout.xml
/.idea/.idea.DatingApp-MainApi.dir/.idea/vcs.xml
/.nyc_output/processinfo/1a747f4f-0891-4b66-bf0d-3009e3957f47.json
/.nyc_output/1a747f4f-0891-4b66-bf0d-3009e3957f47.json
/.nyc_output/processinfo/46c14c25-1a7c-46f7-a78e-db16e2307c71.json
/.nyc_output/46c14c25-1a7c-46f7-a78e-db16e2307c71.json
/coverage/base.css
/coverage/block-navigation.js
/coverage/src/logic/classes/conversation.ts.html
/coverage/src/database/entity/ConversationEntity.ts.html
/coverage/src/data-source.ts.html
/coverage/favicon.png
/coverage/src/logic/classes/genre.ts.html
/coverage/src/database/entity/GenreEntity.ts.html
/coverage/src/controllers/user/index.html
/coverage/src/database/entity/index.html
/coverage/src/logic/classes/index.html
/coverage/src/logic/handlers/index.html
/coverage/src/middleware/schemas/index.html
/coverage/src/routes/index.html
/coverage/src/utils/index.html
/coverage/src/index.html
/coverage/index.html
/.nyc_output/processinfo/index.json
/coverage/src/controllers/user/index.ts.html
/coverage/src/database/entity/index.ts.html
/coverage/src/index.ts.html
/coverage/src/utils/logger.ts.html
/coverage/src/logic/classes/match.ts.html
/coverage/src/database/entity/MatchEntity.ts.html
/coverage/src/logic/classes/message.ts.html
/coverage/src/database/entity/MessageEntity.ts.html
/coverage/prettify.css
/coverage/prettify.js
/coverage/sort-arrow-sprite.png
/coverage/sorter.js
/coverage/src/logic/classes/user.ts.html
/coverage/src/middleware/schemas/user.ts.html
/coverage/src/routes/user.ts.html
/coverage/src/database/entity/UserEntity.ts.html
/coverage/src/database/entity/UserGenreEntity.ts.html
/coverage/src/logic/handlers/userHandler.ts.html
/.nyc_output/processinfo/265c0e9c-b455-4e48-b3aa-e93bdd77d452.json
/.nyc_output/265c0e9c-b455-4e48-b3aa-e93bdd77d452.json
/.nyc_output/processinfo/c2f2dfec-0eda-4de2-b733-8aa658fbb244.json
/.nyc_output/c2f2dfec-0eda-4de2-b733-8aa658fbb244.json
/coverage/classes/conversation.ts.html
/coverage/classes/genre.ts.html
/coverage/classes/index.html
/coverage/handlers/index.html
/coverage/classes/match.ts.html
/coverage/classes/message.ts.html
/coverage/classes/user.ts.html
/coverage/handlers/userHandler.ts.html
/docker-compose.yml